#headercontainer
  height: 300px
  margin: -8px

  #headercontent
    padding-left: 13%
    padding-top: 75px

    #headerimg
      max-height: 90px
      margin-bottom: 30px

    #headertext
      font-family: 'Lato'
      color: white
      font-weight: 300
      font-size: 28px

.onboarding-container
  margin-bottom: 40px

  #headerimg-preview
    max-width: 100px
    max-height: 30px
    width: auto
    height: auto
    display: block
    padding-top: 5px

  #colorinput
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    align-self: flex-start
    width: 115px

    #colorpreview
      width: 30px
      height: 30px
      border-radius: 3px
      border: 1px solid #E0E4E7

    